# Build results
*.pyc

target/
publish-docs/
generated/
.ropeproject/

# Testenvironment
.tox/
.venv/

# Editors
*~
.*.swp

# Labs artifacts
stacktrain/osbash/img/
stacktrain/osbash/log/
stacktrain/xml/
